
body {
  padding:0;
  border:0;
  margin: 0;
  background-color: gainsboro;
  background-color: #222;
  background-image: url('../images/background.png');
  xcolor:darkcyan;
}

h1,h2,h3 {
  xbackground-color: gainsboro;
  color:darkslategrey;
}


p {
  xbackground-color: gainsboro;
  color:darkcyan;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#infoPage {
	position: absolute;
}

#modeSelectCanvas{
	position: absolute;
}

#gamePage {
  padding:0%;
  padding-left:0%;
  text-align:center;
  position: absolute;
}

#endCanvas{
	position: absolute;
}

#statSVG {
	position: relative;
}

#spamCanvas{
	position: absolute;
}

#spamListDiv{
	position: relative;
	overflow-y: auto;
	
}
#spamList{
	color: #aef704;
	font-family: 'Helvetica', arial, sans-serif;
	
}

.exclude-true{
	text-decoration: line-through;
	color: grey;
}

.svgfont{
	font-family: 'Helvetica', arial, sans-serif;
}

.calendar-text{
	font-family: 'Helvetica', arial, sans-serif;
}

